.component-pool-container {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 120px;
}

.component-pool-title-skeleton .ant-skeleton-button {
    width: 80px;
    margin-bottom: 10px;
}

