.section-description {
  font-size: 20px;
}

.section-sub-title {
  margin-top: 0px !important;
  font-weight: 700 !important;
}

.section-title {
  margin-bottom: 0px !important;
  font-weight: 900 !important;
}

.section-page-image-preview {
  max-height: 401px !important;
  border-radius: 10px;
}
.section-page-image-preview-container .ant-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-avatar-skeleton .ant-skeleton-avatar {
  width: 200px;
  height: 300px;
  margin-top: 40px;
}

.section-title-skeleton .ant-skeleton-avatar {
  display: block !important;
  width: 50px;
}



@media screen and (max-width: 480px) {
  .section-page-container {
    padding: 10px;
  }
  .section-page-image-preview {
    width: 80% !important;
  }
  .hide-on-mobile {
      display: none;
  }
  .section-sub-title {
      text-align: center;
      margin-top: 20px !important;
  }
}

@media screen and (min-width: 480px) {
  .section-page-container {
    padding: 50px;
  }
  .hide-on-dekstop {
      display: none;
  }

  .section-image-initial-card {
    width: 200px;
    height: 300px;
    background-color: #E6E8EA;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  h1.section-image-initial-card-title{
    font-size: 70px;
    font-weight: 900;
    color: #1890ff;
  }
}
